/* Spooky scary css file */

h1{
    color: 

#f26b10;
    font-size: 150px;
    font-

family: "Palatino Linotype", "Book 

Antiqua", Palatino, serifGeorgia, serif;
}

body{
    color: white;
    background-

image: url

("https://i.imgur.com/BMgNSsj.gif");
    

/*background-repeat: no-repeat;*/
    

background-size: 1000px 900px;
}

h3{
    

color: #6d0aaa;
    font-size: 30px;
}

a{
    

color: #a50101;
}

li{
    color: #3401a5;
}
    
